<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<h1>Home Page</h1>
<p><a href="http://52.157.203.41:5000/data"> See Current Stables</a></p>
<p>To see indepth stable go to http://52.157.203.41/:5000/data/"your_stable_id"</p>
<p><a href="http://52.157.203.41:5000/data/create"> Create a new stable</a></p>
<p>To delete a stable go to http://52.157.203.41:5000/data/"your_stable_id"/delete</p>
<p>To update a existing stable go to http://52.157.203.41:5000/data/"your_stable_id"/update</p>
</body>
</html>