<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<form action='' method = "POST">
<!--  <p>stableid <input type = "text" stableid = "stableid" value="{{stable.stableid}}"/></p>-->
  <p>fighterid <input type = "text" fighterid = "fighterid" value="{{stable.fighterid}}"/></p>
  <p>name <input type = "string" name = "name" value="{{stable.name}}"/></p>
  <p>owner <input type = "string" owner = "owner" value="{{stable.owner}}"/></p>
  <p><input type = "submit" value = "Submit" /></p>
</form>
</body>
</html>